## Step 3 - Climate Analysis and Exploration

You are now ready to use Python and SQLAlchemy to do basic climate analysis and data exploration on your new weather station tables. All of the following analysis should be completed using SQLAlchemy ORM queries, Pandas, and Matplotlib.

* Create a Jupyter Notebook file called `climate_analysis.ipynb` and use it to complete your climate analysis and data exporation.

* Choose a start date and end date for your trip. Make sure that your vacation range is approximately 3-15 days total.

* Use SQLAlchemy `create_engine` to connect to your sqlite database.

* Use SQLAlchemy `automap_base()` to reflect your tables into classes and save a reference to those classes called `Station` and `Measurement`.

In [2]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
# Import SQLAlchemy  and other dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [7]:
# Create Database Connection
# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
engine = create_engine('sqlite:///hawaii.sqlite')
Base.metadata.create_all(engine)

In [8]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [9]:
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [10]:
# Print all of the classes mapped to the Base
Base.classes.keys()

['clean_measurements', 'clean_stations', 'measurements', 'stations']

In [29]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)

In [30]:
# Collect the names of tables within the database
inspector.get_table_names()

['clean_measurements', 'clean_stations', 'measurements', 'stations']

In [31]:
# Using the inspector to print the column names within the 'dow' table and its types
columns = inspector.get_columns('clean_measurements')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
station VARCHAR(255)
date VARCHAR(255)
prcp FLOAT
tobs INTEGER

In [12]:
# Assign the clean_measurements class to a variable called `c_m`
c_m = Base.classes.clean_measurements

In [13]:
c_s = Base.classes.clean_stations

In [36]:
# Create a session
session = Session(bind=engine)

In [32]:
from sqlalchemy import func

In [33]:
# climate = session.query(c_m.date, func.sum(c_m.prcp)).filter(c_m.date >= date_delta).group_by(c_m.date).all()

# climate1 = []
# climate2 = ['Date', 'Precipitation']
# for p in climate:
#     (date, inches_per_date) = p
#     climate1.append(p)
#     climate_df = pd.DataFrame(climate1, columns=climate2)
#     climate_df.head()

NameError: name 'date_delta' is not defined

In [28]:
for row in session.query(c_m.date, c_m.prcp).limit(15).all():
    print(row)

### Precipitation Analysis

* Design a query to retrieve the last 12 months of precipitation data.

* Select only the `date` and `prcp` values.

* Load the query results into a Pandas DataFrame and set the index to the date column.

* Plot the results using the DataFrame `plot` method.

<center><img src='images/precip.png' /></center>

* Use Pandas to print the summary statistics for the precipitation data.

In [35]:
# Print all of the player names in the database
year = session.query(c_m)
for date_prcp in c_m:
    print(c_m.prcp)

TypeError: 'DeclarativeMeta' object is not iterable

In [51]:
#start session"
session = Session(engine)

In [52]:
#query all dates
date_result = session.query(c_m.date).all()

In [53]:
#query all precipitation,
prcp_result = session.query(c_m.prcp).all()

In [54]:
#find when the data ends in order to calculate when the past 12 months were,
session.query(c_m.date).order_by(c_m.date.desc()).first()

In [55]:
#query for entire last year of available data",
year_begin_date = '2016-08-22',
year_end_date = '2017-08-23'

In [56]:
#create query for the year"
month_range = session.query(c_m.date,c_m.prcp).filter
(c_m.date >= year_begin_date).filter
(c_m.date <= year_end_date).all()

AttributeError: Neither 'BinaryExpression' object nor 'Comparator' object has an attribute 'filter'